# Build and Release Folders
BraveSoftware/
QtProject.conf
autostart/
compton.conf
dconf/
enchant/
eog/
evolution/
geary/
gedit/
gnome-initial-setup-done
goa-1.0/
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
inkscape/
keepassxc/
kritadisplayrc
kritarc
libreoffice/
mimeapps.list
monitors.xml
monitors.xml~
mono.addins/
nautilus/
onedrive/items.sqlite3
onedrive/items.sqlite3-wal
onedrive/items-dryrun.sqlite3
onedrive/items.sqlite3-shm
onedrive/refresh_token
onedrive/.config.backup
onedrive/.config.hash
onedrive/.sync_list.hash
pop-shell/
pulse/
qtile/__pycache__/config.cpython-38.pyc
systemd/
user-dirs.dirs
user-dirs.locale
