[UNIT]
Description="timer for updates.service"

[Timer]

OnCalendar=*-*-* *:*:00

OnCalendar=*-*-* 6:*:*

Unit=updates.service

[Install]
WantedBy=timers.target
