[Service]
WorkingDirectory=/home/.config/spectrwm/
Type=oneshot
ExecStart=/bin/bash /home/.config/spectrwm.updates.sh

[Install]

WantedBy=multi-user.target
